
.upload-filter-label-phobos .upload-filter-preview,
.filter-phobos {
  -webkit-filter: invert(40%) saturate(10);
          filter: invert(40%) saturate(10);
}
.upload-filter-label-heat .upload-filter-preview,
.filter-heat {
  -webkit-filter: saturate(10);
          filter: saturate(10);

}